
  /** CSS Reset */
  *,
  html,
  body {
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
    color: #424242;
  }

  body {
    background-color: white;
  }

  div.appbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    background-color: #F44336;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  div.hero img {
    aspect-ratio: 2;
    width: 100%;
    object-fit: cover;
  }

  div.header-text {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.tagline {
    font-size: 28px;
  }

  div.document-title {
    font-size: 16px;
    font-weight: 500;
  }

  div.price-note {
    font-size: 12px;
    margin-top: 8px;
  }

  div.menu-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  div.menu-tile {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  div.menu-photo img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
  }

  div.menu-tile-name {
    font-weight: 500;
    font-size: 16px;
    padding: 8px 16px;
    align-self: stretch;
    text-align: center;
  }

  div.menu-tile-description {
    font-size: 12px;
    align-self: stretch;
    text-align: center;
    padding: 0px 16px;
    height: 60px;
    padding-bottom: 16px;
  }

  div.menu-price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  span.price-description {
    font-size: 12px;
  }

  @media (min-width: 800px) {
    div.menu-area {
      grid-template-columns: repeat(4, 1fr);
    }
  }